:root {
    /* Colors */

    --color-primary: #4383C4;
    --color-white: #ffffff;
    --color-button-light: #EDEDED;
    --color-button-semidark: #8F8F8F80;
    --color-button-dark: #4F4F4F80;
    --color-background: #1C1C1C;
    --color-footer: #363636;
    /* Typography */

    --font-family: "Vazirmatn", sans-serif;
    --font-weight-normal: 400;
    --font-size-base: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    position: relative;
    max-width: 1920px;
}

body {
    background-color: var(--color-background);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C1C1C;
    color: var(--color-white);
    background-attachment: fixed;
    height: 56px;
    padding: 12px 128px;
    font-size: var(--font-size-base);
    position: fixed;
    width: 100%;
}

.hero {
    background-image: url("./images/header.png");
    background-size: cover;
    height: 600px;
    position: relative;
}

.main-header {
    display: flex;
    align-items: center;
}

.sub-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

.modal .content {
    width: 50%;
    height: 250px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
    color: #1C1C1C;
}

.modal.open {
    opacity: 1;
    z-index: 9999;
}

.modal.open .content {
    transform: translateY(0);
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
}

.box {
    display: none;
}

.menu-item:hover {
    transition: all 300ms ease-in-out;
    cursor: pointer;
}


.mobile-menu {
    display: none;
}

.btn {
    border-radius: 4px;
    padding: 4px 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size-base);
    border: none;
}

.button {
    background-color: var(--color-button-light);
}

.butt {
    background-color: var(--color-button-dark);
    color: var(--color-white);
}

.image-content {
    position: absolute;
    bottom: 130px;
    right: 100px;
    background: linear-gradient(270deg, #1C1C1C 0%, rgba(0, 0, 0, 0) 100%);
}

.button-heading {
    border-radius: 8px;
    padding: 8px 16px;
    color: var(--color-white);
    border: none;
    margin-inline-end: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}


.button-time {
    background-color: var(--color-button-dark);
    height: 40px;
}

.button-text {
    background-color: var(--color-button-semidark);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.buttons {
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: flex;

}

main {
    margin-top: 64px;
}

.main-heading-text {
    display: flex;
    align-items: center;
    color: var(--color-white);
    margin-right: 100px;
    font-weight: 500;
    font-size: 24px;
}

.images {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    margin: 20px 80px;
}

.image-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-white);
}

.baner {
    margin-top: 100px;
}

.last-content h3 {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;
}

.last-content {
    padding: 16px;
}

.last-content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1;
    padding: 16px;
}

.last-content-image .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-color: var(--color-footer);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    margin: 0 100px;
    padding-top: 20px;
}

hr {
    margin: auto;
    border: 1px solid var(--color-button-semidark);
    margin-top: 20px;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
    margin-top: 96px;
}

.daryaft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 90px;
}

.icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 36px 100px;
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    color: var(--color-white);
    font-size: 12px;
}

@media screen and (max-width:768px) {
    .hero {
        background-image: linear-gradient(0deg, rgba(28, 28, 28, 1) 0%, rgba(28, 28, 28, 0) 30%), url(./images/Image.jpg);
        height: 468px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    header {
        padding: initial;
    }

    .sub-header {
        padding-inline-end: 16px;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logo-head {
        display: none;
    }

    .buttons {
        flex-direction: column;
        right: initial;
        margin-inline-start: 16px;
        gap: 16px;
    }

    .main-header {
        margin-inline-start: -70px;

    }

    .main-heading-text {
        margin: initial;
        padding: 16px;
    }

    .images {
        overflow-x: scroll;
        margin: initial;
        padding: 16px;
    }

    .image-box {
        margin-inline-end: 16px;
    }

    .image-content {
        width: 200px;
        right: initial;
        padding-inline-start: 20px;
        background: initial;
    }


    .last-content-image {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: initial;
        align-items: initial;
    }

    .last-content-image .item:first-child {
        width: 100%;
    }

    .last-content-image .item:not(:first-child) {
        width: calc(50% - 8px)
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        margin: initial;
        align-items: initial;
    }

    .logo-footer {
        margin-top: initial;
        padding: 16px;
    }

    .menu-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: initial;
        padding: 30px 8px;
    }

    .foot-item {
        width: calc(50% - 28px);
    }

    .daryaft {
        justify-content: initial;
        margin-top: 50px;
        padding-inline-start: 16px;
    }

    .icon-footer {
        margin: initial;
        padding: 32px 16px;
    }

    .sub-footer {
        margin: initial;
        padding: 32px 16px;
        gap: 32px;
    }
}